.input_matrices {
  display: flex;
  align-items: flex-start;
}

.matrix_equation {
  display: flex;
  align-items: center;
}

.steps {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
